body {
  background-color: #21222C;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

.card {
  border: none;
}

.card-dark {
  background-color: #282A36;
}